h1, h2, h3, h4, strong {
  color: #5A5A5A;
}

.field {
  margin-bottom: 15px;
}

.signup {
  margin-top: 5px;
}

.header {
  border-bottom: 1px solid #eee;
  margin-top: 30px;
  margin-bottom: 30px;
}

.login-box {
  margin-top: 20px;
  text-align: right;
}

.image-main {
  margin: 0 20px 20px 0;
}
